<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		https://www.springframework.org/schema/beans/spring-beans.xsd 
		http://www.springframework.org/schema/aop
		https://www.springframework.org/schema/aop/spring-aop.xsd">


	<bean id="accservice" class="com.pratap.service.AccountServiceImpl"></bean>
	
	<bean id="lc" class="com.pratap.aspect.LoggingConcern"></bean>
	
	<bean id="tc" class="com.pratap.aspect.TransactionConcern"></bean>
	
	
	<aop:config>
	
		<aop:pointcut id="pc1" expression="within(com.pratap.service.AccountServiceImpl)" />
			
		<aop:aspect id="loggingAspect" ref="lc" >
			<aop:before method="logBefore" pointcut-ref="pc1"/>
			<aop:after-returning method="logAfterReturning"  pointcut-ref="pc1"/>
			<aop:after-throwing method="logAfterThrowing" pointcut-ref="pc1"/>
			<aop:after method="logAfter" pointcut-ref="pc1" />
		</aop:aspect>
		
		<aop:aspect id="transactionAspect" ref="tc">
			<aop:around method="transactionAround" pointcut-ref="pc1"/>
		</aop:aspect>
	</aop:config>
	
</beans>